body{
    background-color: aqua;
    background-image: url(../img/paisley.webp);
    color:blueviolet;
    font-size: 21px;

    font-family: Calibri, sans-serif;
}

h1{
    font-size: 70px;
    color: #37473b;
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
}

p{
    margin-top: 0px;
    margin-bottom: 20px;

    line-height: 1.5;
}

a{
    color:palevioletred;
}

a:visited{
    color: black;
}

a:hover{
    color:greenyellow;
}

a:focus{
    color:bisque;
}

